server/node_modules
client/node_modules
toolkit/h1.json
toolkit/temp/*
toolkit/config/amass_*
toolkit/screenshots/http*.png
toolkit/toolkit/nuclei-stacktrace-*.dump
toolkit/nuclei-stacktrace-*.dump
toolkit/wordlists/*.tmp
toolkit/wordlists/cewl_*
toolkit/http*
toolkit/logs/*